.navbar-wrapper{
  width: 100%;
  min-height: 6em;
  padding: 0 1.5em;
  background-color: rgba(26, 24, 24);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
}
.nav-icon{
  color: yellow;
  font-size: 4rem;
}
.nav-options{
  width: 100%;
  max-width: 40em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.option{
  color: yellow;
  font-size: 1.5rem;
  text-transform: capitalize;
  transition: all 0.5s ease-in-out;
}
.option:hover{
  color: black;
  border: 1px #fff solid;
  padding: 0.1em 0.1em;
  background: #fff;
}
.active{
  color: black;
  border: 1px #fff solid;
  padding: 0.1em 0.1em;
  background: #fff;
}
.contact-info-box{
  width: 100%;
  max-width: 18em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-info-box a{
  color: #f2f2f2;
  font-size: 1.3rem;
}
.contact-info-box a:hover{
  color: yellow;
}
.phone{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #f2f2f2;
}
.phone p{
  margin-left: 5px;
  font-size: 1.3rem;
}
.phone:hover {
  color: yellow;
}
.phone-icon{
  font-size: 1.8rem;
}
@media screen and (max-width: 1000px) {
  .navbar-wrapper{
    display: none;
  }
}