.homepagecontainer-wrapper{
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.homecontainer-content-wrapper{
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: all 1s ease-in-out;
}
.active-slide{
  opacity: 1;
  transform: translateX(0);
}
.next-slide{
  transform: translateX(100%);
}
.last-slide{
  transform: translateX(-100%);
}
.arrows {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 10;
  transition: all 5s ease-out;
}
.arrow-left,
.arrow-right {
  background-color: #fff;
  opacity: 0.5;
  padding: 0.7em 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.arrow-left:hover{
  opacity: 1;
}
.arrow-right:hover{
  opacity: 1;
}
.arrow-left {
  padding-left: 1.5em;
  transform: translateX(-5em);
  transition: all 0.5s ease-out;
}
.homepagecontainer-wrapper:hover .arrow-left {
  transform: translateX(-0.8em);
}
.arrow-right {
  padding-right: 1.5em;
  transform: translateX(5em);
  transition: all 0.5s ease-out;
}
.homepagecontainer-wrapper:hover .arrow-right {
  transform: translateX(0.8em);
}
.arrow-font {
  font-size: 1.8rem;
}
